
body{
    background-image: url("images/88104536_2760035104065568_1474591388023652352_n.jpg");
    background-size: 20%;
} 
.settings {
position: relative;

}

#title {
font-size: 2em;
text-align: center;
margin-top: 1.5em;
margin-bottom: 0.5em;
color: #1D1F20;
margin-top: 80px;
}

.lobby_container {
    height: 28rem;
    width: 26rem;
    background-color: #1D1F20;
    position: aboslute;
    margin: auto;
}

#name {
    font-size: 1.6em;
    text-align: center;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
} 

.form-group {
    font-size: 1.15em;
    padding-bottom: 0.5em;
    padding-left: 1em;
}

#rounds {
    width: 93%;
    height: 1.3rem;
    margin-top: 0.4em;
    font-size: 0.9em;
    padding-left: 0.3em;
}

#peopleNum {
    width: 93%;
    height: 1.3rem;
    margin-top: 0.4em;
    font-size: 0.9em;
    padding-left: 0.3em;
}

#drawingPerSec {
    width: 93%;
    height: 1.3rem;
    margin-top: 0.4em;
    font-size: 0.9em;
    padding-left: 0.3em;
}

#text-area {
    width: 93%;
    height: 4.5rem;
    font-size: 0.8em;
    margin-top: 0.2em;
}